html {
	overflow-y:scroll;
}

body {
	background-color: #E8E8E8;
	font-family: "Montserrat",helvetica,arial,sans-serif;
}

.navbar-default {
	margin-top: 20px;
	padding-left: 90px;
	padding-right: 90px;
}
@media (max-width: 979px) {
	.navbar-default {
		padding-left: 0px;
		padding-right: 0px;
		margin-top: 0px;
	}
}
.navbar-default {
	background-color: #FFFFFF;
	box-shadow: 2px 2px 2px #AAAAAA;
	font-variant: small-caps;
	font-weight: bold;
	margin-bottom: 10px;
}
.navbar-default a:link { color: #000000 !important; }
.navbar-default a:visited { color: #000000 !important; }
.navbar-default a:hover { color: #FF0000 !important; }
.navbar-default a:active { color: #FF0000 !important; }

.navbar .navbar-form
{
	font-size: 12px;
	font-weight: normal;
	font-variant: normal;
	padding: 0 15px;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn {
	box-shadow: 2px 2px 2px #AAAAAA;
}
.navbar-default .btn {
	box-shadow: none;
}

.page-header
{
	margin-top: 0px;
	margin-bottom: 10px;
	border-bottom: 0px;
	text-align: center;
	font-variant: small-caps;
	font-weight: bold;
	color: #000000;
}

.container-spacer
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.panel-default
{
	box-shadow: 2px 2px 2px #AAAAAA;
}
.panel-default .panel-heading
{
	background: linear-gradient(to bottom, #FFFFFF, #EEEEEE);
	color: #000000;
	text-align: center;
	font-variant: small-caps;
	font-weight: bold;
}
.panel-default .panel-heading h3
{
	font-size: 14pt;
	margin-top: 5px;
	margin-bottom: 5px;
}
.panel-default .panel-image
{
	overflow: hidden;
	background-color: #E8E8E8;
	border: 1px solid #888888;
	border-radius: 5px;
}
.panel-default .panel-image img
{
	display: block;
	margin: auto;
}

.panel-linkbox a:link { color: #000000; }
.panel-linkbox a:visited { color: #000000; }
.panel-linkbox a:hover { text-decoration: none !important; }
.panel-linkbox a:hover .panel-heading
{
	background: linear-gradient(to bottom, #EEEEEE, #DDDDDD);
}
.panel-linkbox a:hover .panel-body
{
	background: #F4F4F4;
}
.row-equal, .row-equal > div[class*='col-'] {  
	display: -webkit-flex;
	display: flex;
	flex:1 1 auto;
}
.row-equal .panel {
	width: 100%;
}
@media (max-width: 768px) {
	.row-equal, .row-equal > div[class*='col-'] {  
		display: block;
		flex:none;
	}
	.row-equal .panel {
		width: auto;
	}
}

.carousel-imagebox
{
	text-align: center;
	white-space: nowrap;
	height: 300px;
} 
.carousel-imagebox img
{
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
}
.carousel-helper {
	vertical-align: middle;
	display: inline-block;
	height: 100%;
}
.carousel-indicators li {
	background: #888;
}

.carousel-indicators .active {
	background: #000;
}

.modal {
	text-align: center;
}
.modal:before {
	display: inline-block;
	vertical-align: middle;
	content: " ";
	height: 100%;
}
.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

#lightbox .modal-content {
	display: inline-block;
	text-align: center;   
}

#lightbox .close {
	opacity: 1;
	color: rgb(255, 255, 255);
	background-color: rgb(25, 25, 25);
	padding: 5px 8px;
	border-radius: 30px;
	border: 2px solid rgb(255, 255, 255);
	position: absolute;
	top: -15px;
	right: -55px;
	
	z-index:1032;
}